@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


/* FONTE */

$fonte-principal: 'Montserrat', sans-serif;

/* PESO */

$light:300;
$regular:400;
$bold:700;

/* CORES */

$principal: #CEAA67;
$secundaria: #2E4886;
$texto-escuro: #000000;
$texto-claro: #FFFFFF;
$footer: #100F0D;


/* TAMANHO DE FONTES */

$pp: 0.8rem;
$p: 1rem;
$m: 1.3rem;
$g: 2rem;
$gg: 2.5rem;
$xg: 2.8rem;




